@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

/*NAV*/
nav{
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: black;
}
nav #logo{
  font-size: 30px;
}
nav i{
  display: none;
}
/*HERO*/
.hero{
  height: calc(100vh - 60px);
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow-x: hidden;
  position: relative;
  }
/*LEFT BAR        */
.leftbar{
  height: 100%;
  width: 300px;
  border-top: solid 0.5px grey;
  background: white;
  box-shadow: -2px 0px 5px 0px #0000001c;
  color: black;
  padding: 100px 20px;
}
.leftbar #msgToAdminBtn{
  border: none;
  border-radius: 5px;
  background-color: #FFBF2D;
  color: white;
  height: 60px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.leftbar #msgToAdminBtn i{
  font-size: 20px;
  margin-right: 10px;
}
.leftbar li i{
  margin-right: 10px;
  font-size: 17px;
}
.leftbar .ri-user-line{
  color: #1E56FF;
}
.leftbar .ri-code-s-slash-line{
  color: #FE374E;
}
.leftbar .ri-book-open-line{
  color: #91995E;
}
.leftbar .ri-logout-circle-line{
  color: red;
}
.leftbar li{
  list-style: none;
  height: 60px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.leftbar li:hover{
  background-color: lightgrey;
}
.leftbar #username{
  background-color: #FE374E;
  color: white;
}


/*MID BAAR*/
.midbar{
  height: 100%;
  width: 100%;
  position: relative;
}
/* MIDBAR/PORTFOLIO        */
.portfolio{ 
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: white;
}
.navv{
  background-color: #1E56FF;
  color: white;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 20px;
} 
.navv #searchArea{
  width: 30%;
  height: 60px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  overflow: hidden;
  margin-top: 5px;
}
#searchArea input{
  height: 100%;
  width: 100%;
  padding: 0px 10px;
  border: none;
  outline: none;
  font-size: 15px;
}
#searchArea i{
  margin: 0px 10px;
  color: #1E56FF;
  font-size: 15px;
}
.portfolio .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 10vh;
}
.portfolio .nameArea{
  font-size: 3vw;
  padding-top: 90px;
  width: 85%;
}
.portfolio .nameArea #profession{
  font-size: 2vw;
}
.portfolio .nameArea h2{
  color: black;
  font-size: 3vw;
}
.portfolio .nameArea #bio{
  font-size: 1.5vw;
}

.portfolio #profilePic{
  width: 40%;
}

/*    MIDBAR/PROJECT     */
.project{
  position: absolute;
  top: -4px;
  height: 100%;
  width: 100%; 
  display: none;
}
ul{
  height: calc(100vh - 140px);
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}
 ul li{
  font-family: "Nunito", sans-serif;
  margin-bottom: 30px;
  padding: 20px 20px;
  background: #fff; 
/*   box-shadow: -2px 2px 5px 0px #0000001c; */
  /* border-radius: 15px; */
  list-style: none;
}
ul li img{
  width: 50%;
  margin-bottom: 10px; 
  border-radius: 8px;
  box-shadow: 0px 3px 5px #0000001c;
}

#des{
  /* background-color: lightblue; */
}
ul li h2{
  color: #8a8a8a;
  font-size: 20px;
  font-weight: 500;
}
ul li #Pname{ 
/*   margin-bottom: 2px; */
  font-size: 35px;
  color: #161616;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
}
ul li span{
  font-size: 20px;
  font-weight: 400;
}
ul li a{ 
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #4286f4;
  font-weight: 500;
}
ul li #iibbs{
  margin-top: 5px;
}
ul li mark{
  background-color: transparent;
  color: #333738;
}

/*    MIDBAR/LESSON    */
.lesson{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  display: none;
}
/*RIGHT BAAR*/
.rightbar{
  position: absolute;
  top: 50%;
  right: -200%;
  transform: translateY(-50%);
  height: 100%;
  width: 600px;
  background: #F5F7FC;
  box-shadow: -2px 0px 5px 0px #0000001c;
  z-index: 9997;
  transition: 0.6s ease-in-out;
  
}
.rightbar .ri-arrow-left-line{
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 25px;
}
.rightbar .messagePage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  width: 400px;
  background: #F5F7FC; 
  border-radius: 8px;
  display: none;
} 
label{
  margin-top: 10px;
  margin-bottom: 5px; 
  font-size: 1vw;
  margin-left: 5px;
}
.rightbar input{
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 10px;
  background: #ffffff; 
  box-shadow: -2px 2px 5px 0px #0000001c;
}
textarea{
  width: 100%;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 10px;
  background: #ffffff; 
  box-shadow: -2px 2px 5px 0px #0000001c;
  }
 .rightbar button{
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 7.5px;
  margin-top: 25px;
  background: #1E56FF; 
  box-shadow: -2px 2px 5px 0px #0000004c;
  color: white;
 }

.loginPage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  width: 400px;
  background-color: #F5F7FC;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  display: none;
}

/* Responsive for Mobile */
@media (max-width: 700px){
 
   nav #logo{
   font-size: 25px;
   }
   nav i{
   display: block;
   font-size: 20px;
   }
  ul li img{
  width: 100%;
  }
  ul li h2{
    font-size: 12px;
  }
  ul li #Pname{
    font-size: 25px;
  }
  ul li span{
    font-size: 12px;
  }
  ul li a{
    font-size: 12px;
  }
  
  
  .hero{
  flex-direction: row-reverse;
  white-space: nowrap;
  overflow-x: hidden;
  position: relative;
  }
  .leftbar{
   position: absolute;
   right: -200%;
   transition: right 0.6s ease-in-out;
   font-size: 18px;
   z-index: 9999; 
  }

  .navv{
    font-size: 20px;
  }
  .navv #searchArea input{
    font-size: 12px;
  }
  .portfolio .content{
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0vw;
  }
  .portfolio .nameArea{
    padding: 0;
  }
  .portfolio .nameArea #profession{
  font-size: 5vw;
  }
  .portfolio .nameArea h2{
    font-size: 8vw;
  }
  
  .portfolio #profilePic{
    width: 80%;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .portfolio .nameArea #bio{
  font-size: 10px;
  } 
  .navv{
    height: 80px;
  }
  .navv #searchArea{
    height: 45px;
    width: 100%;
  }
  .navv #searchArea i{
    font-size: 15px;
  }
  .rightbar{
    width: 350px;
  }
  label{
    font-size: 12px;
  }
  .rightbar .messagePage{
    width: 300px;
  }
  .loginPage{
    width: 300px;
  }
 
}