@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
body{
  height: 100vh;
  width: 100vw;
  background-color: #EEF1F6;
}

/*NAV*/
nav{
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: black;
}
nav #logo{
  font-size: 30px;
}
nav i{
  display: none;
}
/*HERO*/
.hero{
  height: calc(100vh - 60px);
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow-x: hidden;
  position: relative;
  }
/*LEFT BAR        */
.leftbar{
  height: 100%;
  width: 300px;
  border-top: solid 0.5px grey;
  background: white;
  box-shadow: -2px 0px 5px 0px #0000001c;
  color: black;
  padding: 100px 20px;
}
.leftbar #msgToAdminBtn{
  border: none;
  border-radius: 5px;
  background-color: #FFBF2D;
  color: white;
  height: 60px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.leftbar #msgToAdminBtn i{
  font-size: 20px;
  margin-right: 10px;
}
.leftbar li i{
  margin-right: 10px;
  font-size: 17px;
}
.leftbar .ri-user-line{
  color: #1E56FF;
}
.leftbar .ri-code-s-slash-line{
  color: #FE374E;
}
.leftbar .ri-book-open-line{
  color: #91995E;
}
.leftbar .ri-logout-circle-line{
  color: red;
}
.leftbar li{
  list-style: none;
  height: 60px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.leftbar li:hover{
  background-color: lightgrey;
}
.leftbar #username{
  background-color: #FE374E;
  color: white;
}


/*MID BAAR*/
.midbar{
  height: 100%;
  width: 100%;
  position: relative;
}
/* MIDBAR/PORTFOLIO        */
.portfolio{ 
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: white;
}
.navv{
  background-color: #1E56FF;
  color: white;
  height: 100px;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 20px;
} 
.navv #searchArea{
  width: 30%;
  height: 60px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  overflow: hidden;
  margin-top: 5px;
}
#searchArea input{
  height: 100%;
  width: 100%;
  padding: 0px 10px;
  border: none;
  outline: none;
  font-size: 15px;
}
#searchArea i{
  margin: 0px 10px;
  color: #1E56FF;
  font-size: 15px;
}
.portfolio .content{
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.portfolio .nameArea{
  font-size: 3vw;
  padding-top: 90px;
}
.portfolio .nameArea #profession{
  font-size: 2vw;
}
.portfolio .nameArea h2{
  color: black;
  font-size: 3vw;
}
.portfolio .nameArea p{
  font-size: 1.5vw;
}
.portfolio .smIcons{
  font-size: 2vw;
  margin-top: 20px;
}
.portfolio .smIcons .fa-instagram{
 background: linear-gradient(135deg,#feda75, #fa7e1e,#d62976,#962fbf); 
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-size: 20px;
}

.portfolio .smIcons .fa-telegram{
  color: #24a1de;
  font-size: 20px;
}
.portfolio .smIcons .fa-youtube{
  color: #e62117;
  font-size: 20px;
}
.portfolio .smbox{
  display: flex;
  align-items: center;
  margin: 5px 0px;
}
.portfolio .smbox p{
  font-size: 1.2vw;
  margin-left: 5px;
  color: #4d4d4d;
  font-weight: 600;
}
.portfolio #profilePic{
  width: 500px;
}

/*    MIDBAR/PROJECT     */
.project{
  position: absolute;
  top: -4px;
  height: 100%;
  width: 100%; 
  display: none;
}
ul{
  height: calc(100vh - 140px);
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}
 ul li{
  font-family: "Nunito", sans-serif;
  margin: 20px 20px;
  padding: 10px 20px;
  background: #ffffff; 
  box-shadow: -2px 2px 5px 0px #0000001c;
  border-radius: 15px;
  list-style: none;
}
 h2{
  margin: 0;
  font-weight: 550;
  color: black;
  font-size: 22px;
}
.project, .lesson h5{
  font-size: 13px;
  font-weight: 500;
  color: #333738;
}
.project, .lesson p , a, span{
  font-size: 12px;
  color: grey;
}
.project, .lesson ul li h2,h5,p,a{
  margin: 4px 0px;
}
 a{
  text-decoration: none;
  color: #1E56FF;
}

/*    MIDBAR/LESSON    */
.lesson{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  display: none;
}
/*RIGHT BAAR*/
.rightbar{
  position: absolute;
  top: 50%;
  right: -100%;
  transform: translateY(-50%);
  height: 100%;
  width: 600px;
  background: #F5F7FC;
  box-shadow: -2px 0px 5px 0px #0000001c;
  z-index: 9997;
  transition: 0.6s ease-in-out;
  
}
.rightbar .ri-arrow-left-line{
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 25px;
}
.rightbar .messagePage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  width: 400px;
  background: #F5F7FC; 
  border-radius: 8px;
  display: none;
} 
label{
  margin-top: 10px;
  margin-bottom: 5px; 
  font-size: 1vw;
  margin-left: 5px;
}
.rightbar input{
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 10px;
  background: #ffffff; 
  box-shadow: -2px 2px 5px 0px #0000001c;
}
textarea{
  width: 100%;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 10px;
  background: #ffffff; 
  box-shadow: -2px 2px 5px 0px #0000001c;
  }
 .rightbar button{
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 7.5px;
  margin-top: 25px;
  background: #1E56FF; 
  box-shadow: -2px 2px 5px 0px #0000004c;
  color: white;
 }

.loginPage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  width: 400px;
  background-color: #F5F7FC;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  display: none;
}

/* Responsive for Mobile */
@media (max-width: 800px){
   nav #logo{
   font-size: 25px;
   }
   nav i{
   display: block;
   font-size: 20px;
   }
  .midbar ul li h2{
    font-size: 16px;
  }
  .midbar ul li p, span{
    font-size: 10px;
  }
  .hero{
  flex-direction: row-reverse;
  white-space: nowrap;
  overflow-x: hidden;
  position: relative;
  }
  .leftbar{
   position: absolute;
   right: -100%;
   transition: 0.6s ease-in-out;
   font-size: 13px;
   z-index: 9999;
  }

  .navv{
    font-size: 15px;
  }
  .navv #searchArea input{
    font-size: 12px;
  }
  .portfolio .content{
    flex-direction: column;
    justify-content: flex-start;
  }
  .portfolio .nameArea{
    padding: 0;
  }
  .portfolio .nameArea #profession{
  font-size: 3vw;
  }
  .portfolio .nameArea h2{
    font-size: 5vw;
  }
  .portfolio .smIcons h5{
    font-size: 3vw;
  }
  .nameArea .smbox p{
    font-size: 8vw;
    margin-top: 10px;
  }
  
  .portfolio #profilePic{
    width: 250px;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .portfolio .nameArea p{
  font-size: 10px;
  } 
  .navv{
    height: 80px;
  }
  .navv #searchArea{
    height: 45px;
    width: 100%;
  }
  .navv #searchArea i{
    font-size: 15px;
  }
  .rightbar{
    width: 350px;
  }
  label{
    font-size: 12px;
  }
  .rightbar .messagePage{
    width: 300px;
  }
  .loginPage{
    width: 300px;
  }
 
}